# Ignore Folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.vs/

# Ignore Files
*.log
*.tmp
*.lock
*.uasset.tmp
*.umap.tmp

# Ignore User Settings
Config/DefaultEditor.ini
Config/DefaultEditorPerProjectUserSettings.ini
Config/DefaultEngine.ini
Config/DefaultGame.ini

# Git LFS
*.uasset
*.umap
